{% extends 'global/base.html' %}

{% block content %}

    <div class="single-contact">
        <h1 class="single-contact-name">
            {{contact.name}} - {{contact.last_name}}
        </h1>
        <p><b>ID:</b> {{contact.id}}</p>
        <p><b>Email:</b> {{contact.email}}</p>
        <p><b>Phone:</b> {{contact.phone}}</p>
        <p><b>Description: </b>{{contact.description}}</p>
        <p><b>Category:</b> {{contact.category.name}}</p>
        <br/>
        {% if contact.picture %}
            <img src="{{contact.picture.url}}" alt="{{contact.name}}" />
        {% endif %}
        <p><b>Created date:</b> {{contact.created_at}}</p>
        <div class="buttons">
            <a class="button primary-button" href="{% url "contact:update" contact.id %}">Update</a>
        
            <form action="{% url "contact:delete" contact.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="button-delete">Delete</button>
            </form>
        </div>
    </div>

{% endblock content %}